
<%- include ('../partials/header/admin-head.ejs') -%> 

<aside>
    <header>
        <h1 id="brand">PROJECT <i style="color: tomato;">LEO</i></h1>
        <!-- tools bar -->
        <%- include ('../partials/body/contact-deck/tools-bar.ejs') -%> 
        
    </header>
    <!-- contact card holder -->
    <%- include ('../partials/body/contact-deck/contact-deck.ejs') %>
    
</aside>
<!-- main body section-->
<%- include ('../partials/body/main-body/main-body.ejs') %>


<%- include ('../partials/footer/footer.ejs') %> 